<div ng-include="'App/views/header.html'"></div>
<div class="clearfix"></div>
<section class="innerBg_Box ng-scope">
    <div ng-controller="customerController" ng-init="GetCustomer()" id="dvCustomer">
        <div class="main_box">
            <div class="search_box">

                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" placeholder="customername, mob, email" style="width:200px" class="form-control" ng-model="customerSearch" />
                            <!--<input type="text" id="txtCustomer" style="width:200px;" placeholder="customername, mob, email" class="form-control" ng-model="customerSearch" />-->
                        </div>
                        <div class="input-group">
                            <button type="submit" class="btn btn-default pull-right" ng-click="SearchCustomer()">Search</button>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default pull-right" ng-click="CreateCustomer()">Create New</button>
                </form>

            </div>
            <span class="success_message">{{message}}</span>
            <div class="table-responsive">
                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                <div id="jqxgrid"></div>
            </div>
            <div class="modal fade" id="dvAddCustomer" data-backdrop="static" style="display:none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearForm()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">{{title}}</h4>
                        </div>

                        <form name="customer">

                            <div class="modal-body">

                                <div class="panel-body">

                                    <div class="clearfix">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Name<span style="color:red">*</span></label>
                                                <input type="text" class="form-control" name="name" ng-model="name" id="" placeholder="" required>
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Birthday<!--<span style="color:red">*</span>--></label>
                                                <div>
                                                    <!--class="dropdown"-->
                                                    <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                                        <div class="input-group">
                                                            <input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="birthday">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </div>
                                                    </a>

                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="birthday" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'year', minView:'day' }">
                                                        </datetimepicker>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Email<!--<span style="color:red">*</span>--></label>
                                                <input type="email" class="form-control" ng-model="emailId" name="emailId">
                                            </div>
                                        </div>

                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Anniversary<!--<span style="color:red">*</span>--></label>
                                                <div>
                                                    <!--class="dropdown"-->
                                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="">
                                                        <div class="input-group">
                                                            <input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="anniversary">
                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                        </div>
                                                    </a>

                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                        <datetimepicker ng-model="anniversary" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'year', minView:'day' }">
                                                        </datetimepicker>

                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix" >
                                        <div class="col-sm-6 col-md-6" >
                                            <div class="form-group" >
                                                <label for="exampleInputEmail1">Notes</label>
                                                <input type="text" class="form-control" ng-model="notes" id="" placeholder="" name="notes" >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Mobile Number<span style="color:red">*</span></label>
                                                <input type="tel" class="form-control" ng-model="mobileNumber" id="" placeholder="" name="mobileNumber" only-digits required>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Address Type</label>
                                                <select class="form-control" ng-model="addressTypeId">
                                                    <option value="" >---Select---</option>
                                                    <option ng-repeat="item in addressTypeList" value="{{item.id}}">{{item.name}}</option>
                                                    <!--<option value="1">Home</option>
                                                    <option value="2">Office</option>
                                                    <option value="3">Others</option>-->
                                                </select>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Address<!--<span style="color:red">*</span>--></label>

                                                <input type="text" class="form-control" id="address" ng-model="address" name="address">
                                                <!--<textarea rows="5" class="form-control" ng-model="address" name="address" required></textarea>-->

                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">PinCode<!--<span style="color:red">*</span>--></label>
                                                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="pinCode" name="pinCode" only-digits>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix">
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">LandMark<!--<span style="color:red">*</span>--></label>
                                                <input type="text" class="form-control" ng-model="landMark" id="txtLandMark1" placeholder="" name="landMark">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Gender<!--<span style="color:red">*</span>--></label>
                                                <label>
                                                    <input type="radio" name="response" ng-model="gender" ng-value="0" />
                                                    Male
                                                </label>
                                                <label>
                                                    <input type="radio" name="response" ng-model="gender" ng-value="1" />
                                                    Female
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix" >
                                        <div class="col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <label>
                                                    <input type="checkbox" name="marketingEmail" ng-model="marketingEmail" />
                                                    Receive Marketing Email
                                                </label>
                                                <label>
                                                    <input type="checkbox" name="marketingSMS" ng-model="marketingSMS" />
                                                    Receive Marketing SMS
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ClearForm()">Close</button>-->
                                <button type="button" ng-show="!isEdit" ng-disabled="!customer.$valid" class="btn btn-default" ng-click="SaveCustomer()">
                                    Save
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="dvCustomerDetail" data-backdrop="static" style="display:none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="clearForm()"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">Customer Update</h4>
                        </div>
                        <span class="success_message">{{messageRegister}}</span>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseOne" aria-expanded="false">
                                            Customer Details<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                        <!--<span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>-->
                                        <form name="customerDetail" novalidate>

                                            <div class="panel-body">

                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Name<span style="color:red">*</span></label>
                                                            <input type="text" class="form-control" name="name" ng-model="name" id="" placeholder="" required>
                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Birthday<!--<span style="color:red">*</span>--></label>
                                                            <div>
                                                                <!--class="dropdown"-->
                                                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                                                    <div class="input-group">
                                                                        <input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="birthday">
                                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                    </div>
                                                                </a>

                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                    <datetimepicker ng-model="birthday" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'year', minView:'day' }">
                                                                    </datetimepicker>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Email<!--<span style="color:red">*</span>--></label>

                                                            <input type="email" class="form-control" ng-model="emailId" name="emailIds">

                                                        </div>
                                                    </div>

                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Anniversary<!--<span style="color:red">*</span>--></label>
                                                            <div>
                                                                <!--class="dropdown"-->
                                                                <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="">
                                                                    <div class="input-group">
                                                                        <input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" ng-model="anniversary">
                                                                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                    </div>
                                                                </a>

                                                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                    <datetimepicker ng-model="anniversary" data-datetimepicker-config="{ dropdownSelector: '#dropdown2',startView:'year', minView:'day' }">
                                                                    </datetimepicker>

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Notes</label>
                                                            <input type="text" class="form-control" ng-model="notes" id="" placeholder="" name="notes">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Mobile Number<span style="color:red">*</span></label>
                                                            <input type="tel" class="form-control" ng-model="mobileNumber" id="" placeholder="" name="mobileNumber" only-digits required>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Address Type</label>
                                                            <select class="form-control" ng-change="addressTypeChange()" ng-model="addressTypeId" >
                                                                <option value="">---Select----</option>
                                                                <option ng-repeat="item in addressTypeList" value="{{item.id}}">{{item.name}}</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    
                                                </div>
                                                <div class="clearfix">
                                                    
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Address<!--<span style="color:red">*</span>--></label>

                                                            <input type="text" class="form-control" ng-model="address" name="address">
                                                            <!--<textarea rows="5" class="form-control" ng-model="address" name="address" required></textarea>-->

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">PinCode<!--<span style="color:red">*</span>--></label>
                                                            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="" ng-model="pinCode" name="pinCode" only-digits>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix">
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">LandMark<!--<span style="color:red">*</span>--></label>
                                                            <input type="text" class="form-control" ng-model="landMark" ng-blur="getLatLong()" id="txtLandMark2" placeholder="" name="landMark2">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Gender<!--<span style="color:red">*</span>--></label>
                                                            <label>
                                                                <input type="radio" name="response" ng-model="gender" ng-value="0" />
                                                                Male
                                                            </label>
                                                            <label>
                                                                <input type="radio" name="response" ng-model="gender" ng-value="1" />
                                                                Female
                                                            </label>
                                                        </div>
                                                    </div>

                                                   
                                                </div>
                                                <div class="clearfix" >
                                                    <div class="col-sm-6 col-md-6">
                                                        <div class="form-group">
                                                            <label>
                                                                <input type="checkbox" name="marketingEmail" ng-model="marketingEmail" />
                                                                Receive Marketing Email
                                                            </label>
                                                            <label>
                                                                <input type="checkbox" name="marketingSMS" ng-model="marketingSMS" />
                                                                Receive Marketing SMS
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="ClearForm()">Close</button>-->

                                            <button type="button" ng-show="isEdit" class="btn btn-default" ng-disabled="!customerDetail.$valid || blockButton" ng-click="UpdateCustomer()">Update</button>

                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseTwo" aria-expanded="false">
                                            Appointment And Payment History <i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <form name="appointmentHistory" novalidate>

                                            <div class="table-responsive">
                                                <div id="jqxgridappointmentHistory"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <!--<div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseThree" aria-expanded="false">
                                            Payment History<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">


                                        <form name="paymentHistory" novalidate>

                                            <div class="table-responsive">
                                                <div id="jqxgridpaymentHistory"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>-->

                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseFour" aria-expanded="false">
                                            Notification History<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                        <!--<span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>-->
                                        <form>

                                            <div class="table-responsive">
                                                <div id="jqxgridNotificationHistory"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseFive" aria-expanded="false">
                                            Subscribed Packages<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                        <!--<span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>-->
                                        <form>

                                            <div class="table-responsive">
                                                <div id="jqxgridSubscribedPackages"></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseSix" aria-expanded="false">
                                            Belita Money<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <span class="success_message">{{messageBelitaMoney}}</span>

                                        <form name="belitaMoney">
                                            <div class="services_form_box">

                                                <div class="table-responsive">
                                                    <div id="jqxgridBelitaMoney"></div>
                                                </div>

                                                <div class="modal fade" id="dvAddBelitaMoney" data-backdrop="static">
                                                    <div class="modal-dialog" style="width:60%;margin-top:25px;">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" ng-click="Close()"><span aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title">Update Belita Money</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="panel-body">

                                                                    <!--<div class="clearfix">
                                                                        <div class="col-sm-6 col-md-6">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" ng-model="bmType" ng-value="1">
                                                                                    Package BM
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-6 col-md-6">
                                                                            <div class="checkbox">
                                                                                <label>
                                                                                    <input type="checkbox" ng-model="otherBmType" ng-value="2">
                                                                                    Other Type BM
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>-->
                                                                    <div class="clearfix">
                                                                        <div class="col-sm-8 col-md-8">
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">BM Amount<span style="color:red">*</span></label>
                                                                                <input type="text" class="form-control" name="bmAmount" ng-model="bmAmount" only-digits required>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix">
                                                                        <div class="col-sm-8 col-md-8">
                                                                            <div class="form-group">
                                                                                <label for="exampleInputEmail1">BM Expiry<span style="color:red">*</span></label>
                                                                                <div>
                                                                                    <!--class="dropdown"-->
                                                                                    <a class="dropdown-toggle" id="dropdown3" role="button" data-toggle="dropdown" data-target="#" href="">
                                                                                        <div class="input-group">
                                                                                            <input type="text" datepicker-popup="dd/MM/yyyy" class="form-control" name="bmExpiry" ng-model="bmExpiry" required>
                                                                                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                                                                        </div>
                                                                                    </a>

                                                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                                                                        <datetimepicker ng-model="bmExpiry" data-datetimepicker-config="{ dropdownSelector: '#dropdown3',startView:'day', minView:'day' }">
                                                                                        </datetimepicker>

                                                                                    </ul>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="modal-footer">

                                                                <button type="button" class="btn btn-default" ng-disabled="belitaMoney.bmAmount.$error.required||  belitaMoney.bmExpiry.$error.required" ng-click="SaveBelitaMoney()">
                                                                    Save
                                                                </button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default appointment_history_box">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseSeven" aria-expanded="false">
                                            Belita Money Transaction History<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseSeven" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">
                                        <form name="belitaMoneyTransaction">
                                            <div class="services_form_box">
                                                <div class="table-responsive">
                                                    <div id="jqxgridBelitaMoneyTransaction"></div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

    </div>

</section>