<!-- center section starty -->
<div ng-include="'App/views/header.html'"></div>
<div class="clearfix"></div>
<section class="center_box" ng-controller="dashboardController">
    <div class="left_box">
        <h1>Therapist</h1>
        <ul>
            <li><a href="#" id="show">Jyoti Arora</a></li>
            <li><a href="#">Jyoti Arora</a></li>
            <li><a href="#">Jyoti Arora</a></li>
            <li><a href="#">Jyoti Arora</a></li>
            <li><a href="#">Jyoti Arora</a></li>
            <li><a href="#">Jyoti Arora</a></li>
        </ul>

    </div>
    <div class="right_box">dsfAS</div>
    <div class="clearfix"></div>
</section>

<div class="container-fluid employee_details_box" style="display:none;">
    <div class="create_cancel_box"><a href="#">Create</a> <a href="#" id="hide">Cancel </a></div>
    <!-- first -->
    <div class="col-sm-3 col-md-3">
        <h2>Customer Details</h2>
        <div>

            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Mobile Number">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Email Id">
                </div>

                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Address">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Land Mark">
                </div>


            </form>
        </div>

    </div>
    <!-- second -->

    <div class="col-sm-3 col-md-3">
        <h2>Service History</h2>
        <div class="service_history_box">
            <section>
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                    <dd>21st May 2015</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Cost</dt>
                    <dd>2200/-</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Duration</dt>
                    <dd>60 min</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Therapist</dt>
                    <dd>Sangeeta</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Services</dt>
                    <dd>Belta Glow</dd>
                </dl>

            </section>

            <section>
                <dl class="dl-horizontal">
                    <dt>Date</dt>
                    <dd>21st May 2015</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Cost</dt>
                    <dd>2200/-</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Duration</dt>
                    <dd>60 min</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Therapist</dt>
                    <dd>Sangeeta</dd>
                </dl>

                <dl class="dl-horizontal">
                    <dt>Services</dt>
                    <dd>Belta Glow</dd>
                </dl>

            </section>
        </div>


    </div>

    <!-- third -->
    <div class="col-sm-3 col-md-3">
        <h2>Service Required</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Category</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-3 control-label">Services</label>
                    <div class="col-sm-9">
                        <select multiple class="form-control">
                            <option>200</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Appointment Time</label>
                    <div class="col-sm-9">
                        <div>
                            <div class="input-group date">
                                <input type="text" class="form-control">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Therapist</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="">
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-3 control-label">Note</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-default">Enter Feedback</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

    <!-- Fourth -->
    <div class="col-sm-3 col-md-3">
        <h2>Service Selected</h2>
        <div class="service_select_box">
            <table class="table">
                <tr>
                    <th>Service</th>
                    <th>Amount</th>
                    <th>Time</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>

                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>
                <tr>
                    <td>Glow Massage</td>
                    <td>200/-</td>
                    <td>60</td>
                    <td><a href="#"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
                </tr>

                <tr class="total_box">
                    <td><strong>Total Time</strong></td>
                    <td colspan="4"><strong>120 min</strong></td>
                </tr>
                <tr class="total_box">
                    <td><strong>Total Amount</strong></td>
                    <td colspan="4"><strong>1200/-</strong></td>
                </tr>
            </table>
        </div>

    </div>

</div>
<!-- center section starty -->