<div ng-include="'App/views/header.html'"></div>
<div class="clearfix"></div>
<section class="innerBg_Box">
    <div ng-controller="otherSettingsController" ng-init="GetSettings()" id="dvSettings">
        <div class="main_box">
            <div class="othersetting_box">
                <div class="panel-group" id="accordion">

                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseTwo" aria-expanded="false" ng-click="GetRegisterSettings()">
                                    Register Settings<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messageRegister}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="registerSettings">
                                    <div class="services_form_box">
                                        <div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-click="ShowRegisterModel()" ng-if="EDIT_RegisterSettings">Update Settings</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <div id="jqxgrid1"></div>
                                        </div>

                                        <div class="modal fade" id="dvAddRegisterSettings" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ClearForm()"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Update Register Settings</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="panel-body">
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="IsActive">
                                                                            Active
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">BM Amount<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-disabled="!IsActive" ng-model="bmAmount" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">BM Expiry<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-disabled="!IsActive" ng-model="bmExpiry" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" ng-disabled="!registerSettings.$valid" ng-click="SaveRegisterSettings()">
                                                            Save Settings
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseOne" aria-expanded="false" ng-click="GetReferrerSettings()">
                                    Referral and Referee Settings<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messageReferral}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="referralSetting">

                                    <div class="services_form_box">

                                        <div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-click="ShowReferralModel()" ng-if="EDIT_ReffererSettings">Update Settings</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <div id="jqxgrid2"></div>
                                        </div>

                                        <div class="modal fade" id="dvAddReferralSetting" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ClearForm()"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Update Referral and Referee Settings</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="panel-body">
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="IsActiveReferee">
                                                                            Active
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Referrer BM Amount<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="referrerBmAmount" ng-disabled="!IsActiveReferee" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Referrer BM Expiry<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="referrerBmExpiry" ng-disabled="!IsActiveReferee" only-digits required>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Referee BM Amount<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="refereeBmAmount" ng-disabled="!IsActiveReferee" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Referee BM Expiry<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="refereeBmExpiry" ng-disabled="!IsActiveReferee" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" ng-disabled="!referralSetting.$valid" ng-click="SaveReferralSettings()">
                                                            Save Settings
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseThree" aria-expanded="false" ng-click="GetAppVersionSettings()">
                                    App Version Management<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messageAppversion}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="appVersionManage">

                                    <div class="services_form_box">
                                        <div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-click="ShowAppModel()">Create New</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="table-responsive">
                                            <div id="jqxgrid"></div>
                                        </div>

                                        <div class="modal fade" id="dvAddAppVersion" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ClearFormApp()"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Create App Version</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="panel-body">
                                                            <div class="clearfix">
                                                                <div class="col-sm-8 col-md-8">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">App Version<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="appVersionName" name="appVersionName" required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-8 col-md-8">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Description<span style="color:red">*</span></label>

                                                                        <textarea rows="5" class="form-control" ng-model="appDescriptionDetail" name="appDescriptionDetail" required></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="IsMandatory">
                                                                            Is Mandatory
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" ng-disabled="appVersionManage.appVersionName.$error.required||
                                                          appVersionManage.appDescriptionDetail.$error.required" ng-click="SaveAppVersion()">
                                                            Save App Version
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapsefour" aria-expanded="false" ng-click="GetPremiumTime()">
                                    Premium Time<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapsefour" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messagePremium}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="PremiumSettings">
                                    <div class="services_form_box">
                                        <!--<div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-click="ShowPremiumModel()">Update Premium</button>
                                                </div>
                                            </div>
                                        </div>-->
                                        <div class="table-responsive">
                                            <div id="jqxgrid3"></div>
                                        </div>

                                        <div class="modal fade" id="dvAddPremiumSettings" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ClearForm()"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Update Premium Settings</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="panel-body">

                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Time<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="time" disabled>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Premium Cost<span style="color:red">*</span></label>
                                                                        <input type="text" class="form-control" ng-model="premiumCost" only-digits required>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-6 col-md-6">
                                                                    <div class="checkbox">
                                                                        <label>
                                                                            <input type="checkbox" ng-model="Premium">
                                                                            Is Premium
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" ng-disabled="!PremiumSettings.$valid" ng-click="UpdatePremiumSettings()">
                                                            Save Settings
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseFive" aria-expanded="false" ng-click="GetCity()">
                                    Add BaseCenter<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messageBasecenter}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="BasecenterSettings">
                                    <div class="services_form_box">
                                        <div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-disabled="!BasecenterSettings.$valid" ng-click="AddBasecenter()">Add BaseCenter</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <div class="clearfix">
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">City<span class="required">*</span></label>
                                                        <select class="form-control" ng-model="cityId" required>
                                                            <option value="">---Select City---</option>
                                                            <option ng-repeat="item in city" value="{{item.id}}">{{item.name}}</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6">
                                                    <div class="form-group">
                                                        <label for="exampleInputEmail1">Basecenter<span class="required">*</span></label>
                                                        <input type="text" class="form-control" name="basecenter" ng-model="basecenter" id="" placeholder="" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default appointment_history_box">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" target="_self" href="#collapseSix" aria-expanded="false" ng-click="GetRefferalTags()">
                                    Refferal Tag<i class="indicator glyphicon  pull-right glyphicon-chevron-down"></i>
                                </a>
                            </h4>
                        </div>
                        <div id="collapseSix" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="panel-body">
                                <span class="success_message">{{messageRefferelText}}</span>
                                <span ng-show="Spinner" us-spinner="{radius:30, width:8, length: 16}"></span>
                                <form name="refferelTextSettings">
                                    <div class="services_form_box">
                                        <div class="search_box clearfix">
                                            <div class="form-group pull-right">
                                                <div class="input-group">
                                                    <button type="submit" class="btn btn-default pull-right" ng-click="ShowRefferalTextModel()">Update Settings</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <div id="jqxgrid6"></div>
                                        </div>

                                        <div class="modal fade" id="dvAddFefferelTextSettings" data-backdrop="static">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ClearForm()"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">Update Refferel Tag Settings</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="panel-body">
                                                            <div class="clearfix">
                                                                <div class="col-sm-12 col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">Refferel Tag<span style="color:red">*</span></label>
                                                                        <textarea ng-model="refferelText" name="txtRefferelText" class="form-control" required></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix">
                                                                <div class="col-sm-12 col-md-12">
                                                                    <div class="form-group">
                                                                        <label for="exampleInputEmail1">SMS Tag<span style="color:red">*</span></label>
                                                                        <textarea ng-model="smsTag" name="txtSMSTag" class="form-control" required></textarea>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">

                                                        <button type="button" class="btn btn-default" ng-disabled="!refferelTextSettings.$valid" ng-click="SaveRefferelTextSettings()">
                                                            Save Refferal Tag
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


